*, *:before, *:after {
  box-sizing: inherit;
}
  .wrapper{
    height: 100%;
    background-color:white;
}


.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-family: 'Acme', sans-serif;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: #8e16a7;
    background-color: #de81f5;
    border-radius: 15px;
    border: 4px double #030e04;
}
/*HOla*/
.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links {
  height: 100%;
}
.navbar-links [value ="Guardar"] {
  height: 100%;
  background-color: transparent;
  border: none;
  color: #8e16a7;
}
.navbar-links [value ="Cargar"] {
  height: 100%;
  background-color: transparent;
  border: none;
  color: #8e16a7;
}
.navbar-links [value ="Noche"] {
  height: 100%;
  background-color: transparent;
  border: none;
  color: #8e16a7;
}
.navbar-links [value ="Borrar Fondo"] {
  height: 100%;
  background-color: transparent;
  border: none;
  color: #8e16a7;
}


.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #8e16a7;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: rgb(210, 115, 241);
  opacity: 0.6;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
  .navbar-links li:hover {
    background-color: rgb(227, 153, 241);
    opacity: 0.6;
  }
}

  
  p {
    font-size: calc(8px + 0.5vw + 0.5vh);
  }
  h1 {
    font-size: calc(16px + 0.5vw + 0.5vh);
  }

  
  body {
    background-image: url("super1.jpg") ;
    background-position: center center;
    background-size: absolute;
    font-family:'Acme', sans-serif;
    background-repeat:no-repeat;
  }


  @media (min-width: 468px) {  
    body {
      background-image: url("super1.jpg") ;
      background-position: absolute;
      background-attachment: fixed;
      background-size: cover;
      font-family:'Acme', sans-serif;
      background-repeat:no-repeat;
    }
  } 

  @media (min-width: 600px) {  
    body {
      background-image: url("super1.jpg") ;
      background-position: center center;
      background-attachment: fixed;
      background-size: cover;
      font-family:'Acme', sans-serif;
      background-repeat:no-repeat;
    }
  } 

  .menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
    

  #zonacajas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-size: 1.25rem;
    
  }

  /* azul    rgba(34,193,195,1)*/
  /* morado    rgba(131,58,180,1)  */

  #divcaja1, #divcaja2, #divcaja3, #divcaja4 {
    width: 200px;
    height: 75px;
    background:rgb(191, 119, 240);
    margin: 100px auto;
    vertical-align: top;
    text-align: center;
    border-radius: 30px;
    border: 5px double #0a070a;
    color:black;
    }

  .cajaAbierta {
    background: rgb(101, 12, 104);
    visibility:visible;
  }
 





  



  
  
