/* BOX MODEL */
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }


body{
    overflow: hidden;
    background-image: url(super1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.5;
} 
header{

    background-color: rgb(97, 66, 122);
    border:  1rem solid rgb(201, 164, 243);
    margin-bottom: 2rem;
}

p{
    font-size: 2rem;
    font-family: 'Architects Daughter', cursive;
    color:#000;
    font-weight: bold;
    text-transform: uppercase;
} 
h2{
    font-size: 3rem;
    font-family: 'Architects Daughter', cursive;
    color: black;
    font-weight: bold;
    text-align: center;
}
.posicion {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100vw;
    height: 100vh;
    /*background-image: url("super1.jpg");*/
    opacity: 0.25;
    z-index: -1;

}

.supermercado{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
@media(min-width: 720px){
    .supermercado{
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    }
}

.caja{
    padding: 10rem;
    border: .5rem solid #000;
    border-radius: 2rem;
    margin: 1rem;
    background-color:rgb(201, 164, 243);
    width: 30rem;
    height: 30rem;
    font-size: 2rem;
    cursor: pointer;
    
}
.seccion-agregar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3rem;
    max-width: 90%;
    margin: 1rem;
}

@media (min-width:720px){

    .seccion-agregar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 10px;
    align-items: center;
    max-width: fit-content;
    margin-left: 40rem;
    }
    
}
.botonAgregar{
    width: 20rem;
    height: 5rem;
    padding: 10px;
    font-size: 1.5rem;
       
}
.botonEliminar{
    width: 20rem;
    height: 5rem;
    padding: 10px;
    font-size: 1.5rem;
}

.seleccion-caja{
    font-size: 1.5rem;
}
.lleno{
    background-color: rgb(255, 61, 61);
}
.libre{
    background-color: rgb(90, 236, 46);
}
.textoCaja{
    text-transform: uppercase;
}

.padre_caja1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.padre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botonAtender{
    font-size: 2rem;
    font-weight: bolder;
    border-radius: 1rem;
    padding: 2rem;
    cursor: pointer;

    
}
.botonAtender:hover{
    background-color: darkgrey;
}

.hidden{
    display: none;
}